.attractionsContainer{
    width: 600px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #008cff;
}
.attractionsContainer:hover{
    transform: scale(1.1);
}

.title{
    color: white;
    font-size: 99px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 10px 20px white;
}