/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
 
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}


  

  /*button*/

  body {
    background: #000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100vw; */
    /* height: 100vh; */
  }
  
  .button {
    position: relative;
    width: 200px;
    height: 100px;
    padding-right: 20px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 28px;
    border-radius: 30px;
    border: 2px solid royalblue;
    background-size: 400%;
    background-color: royalblue;
  
    &:hover {
      border-width: 4px;
      .plane {
        animation: vibrate 0.3s infinite 0.3s both;
      }
    }
  
    &:before {
      content: "Sent !!";
      font-size: 0px;
    }
  }
  
  #start {
    display: none;
  }
  
  #start:checked ~ label .plane {
    animation: fly 0.4s ease both;
  }
  
  #start:checked ~ label .button {
    font-size: 0;
    animation: moveButton 0.6s ease;
    background: royalblue;
  }
  
  #start:checked ~ label .button:before {
    font-size: 28px;
    color: #fff;
    padding-left: 28px;
  }
  
  @keyframes fly {
    100% {
      transform: translate(200px, -100px);
      opacity: 0;
    }
  }
  
  .plane {
    font-size: 35px;
    color: #ffc;
    position: absolute;
    top: 37px;
    left: 155px;
  }
  
  @keyframes vibrate {
    0% {
      transform: translate(0) rotate(10deg);
    }
    20% {
      transform: translate(-1px, 1px) rotate(10deg);
    }
    40% {
      transform: translate(0px, 0px) rotate(10deg);
    }
    60% {
      transform: translate(-1px, 1px);
    }
    80% {
      transform: translate(0px, 0px) rotate(10deg);
    }
    100% {
      transform: translate(0, 1px) rotate(10deg);
    }
  }
  
  @keyframes moveButton {
    50% {
      margin-right: 60px;
    }
  }
  

  .text{
    color:white;
    font-size: 15px;
  }